*{
  margin: 0;
  padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.logo a{
    color: #e9e7e7;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 21px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #e9e7e7;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #e9e7e7;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 50%;
    }

}

@media screen and (max-width: 768px){
   
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);

    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);

}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


.wrapper {
  width: 100%;
}

.container2{
  position: relative;
  text-align: center;
  color: #fff;
  z-index: -1;
}

.divcenter h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: arial;
    font-size: 50px;
    font-style: italic;
    color: black;
    padding: 20px;
  }

.img-Recycling {
  display: none;
  opacity: 0.8;
}

.img-info {
  width: 100%;
}

.img-info h2 {
  padding: 30px 30px 20px;
  font-family: arial;
  font-size: 50px;
  color: #111;
  line-height: 44px;
}

.img-info p {
  padding: 0px 30px 20px;
  font-family: arial;
  font-size: 16px;
  color: #111;
  line-height: 24px;
}

.img-info2 {
  width: 100%;
}

.img-info2 h2 {
  padding: 30px 30px 20px;
  font-family: arial;
  font-size: 50px;
  color: #111;
  line-height: 44px;
}

.img-info2 p {
  padding: 0px 30px 20px;
  font-family: arial;
  font-size: 16px;
  color: #111;
  line-height: 24px;
}

.img-Recycle {
  width: 100%;
}

.img-Recycle2 {
  width: 100%;
}

@media only screen and (min-width: 375px){
  .divcenter h2{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: arial;
      font-size: 25px;
      font-style: italic;
      color: black;
      padding: 20px;
    }

  .img-Recycling {
    display: block;
    width: 100%;
    opacity: 0.8;
  }



@media only screen and (min-width: 768px){
  .img-Recycling {
    display: block;
    width: 100%;
    padding-bottom: 30px;
  }

  .divcenter h2{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: arial;
      font-size: 50px;
      font-style: italic;
      color: black;
      padding: 20px;
    }

  .img-Recycling {
    display: block;
    opacity: 0.8;
  }

  .wrapper {
    width: 600px;
    margin: 0 auto;
  }

  .img-info h2 {
    padding: 20px 0px 0px;
  }

  .img-info p {
    padding: 20px 0px 0px;
  }

  .img-info2 h2 {
    padding: 20px 0px 0px;
  }

  .img-info2 p {
    padding: 20px 0px 0px;
  }

  .img-Recycle {
    padding-top: 30px;
  }

  .img-Recycle2 {
    padding-top: 30px;
  }

  .img-logo {
    padding: 30px;
    padding-bottom: 10px;
    width: 4%;
  }

}

@media only screen and (min-width: 1000px){
  .wrapper {
    width: 1000px;
  }

  .divcenter h2{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: arial;
      font-size: 50px;
      font-style: italic;
      color: black;
      padding: 20px;
    }

  .img-Recycling {
    display: block;
    opacity: 0.8;
  }

  .img-info {
    width: 50%;
    float: right; 
  }

  .img-info h2 {
    padding: 20px 0px 0px 30px;
  }

  .img-info p {
    padding: 20px 0px 0px 30px;
  }

  .img-info2 {
    width: 50%;
    float: left; 
  }

  .img-info2 h2 {
    padding: 50px 0px 0px 30px;
  }

  .img-info2 p {
    padding: 20px 0px 0px 30px;
  }

  .img-Recycle {
    padding-top: 0px;
    width: 50%;
    float: left; 
  }

  .img-Recycle2 {
    padding-top: 0px;
    width: 50%;
    float: right; 
  }

} }