
body {
  background-color: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

.logo a{
  color: #e9e7e7;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 21px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.nav-links li{
  list-style: none;
}

.nav-links a{
  color: #e9e7e7;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #e9e7e7;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
  .nav-links{
    width: 50%;
  }

}

@media screen and (max-width: 768px){
 
  .nav-links{
    position: fixed;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);

  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);

}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

.intro{
  background-color: rgb(221, 221, 221); 
}

.introduction{    
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  border: 0px solid black;
  text-align: center;
  padding: 80px;
}

 /* Style text */
 .text{
  text-align: center;
  color: black;
  font-size: 2.5vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  border-radius: 5px;
}

.text2{
  text-align: center;
  color: black;
  font-size: 2.5vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 15px;
  border-radius: 5px;
}



/* Registration form */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: dodgerblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:dodgerblue;
}

/* Placement registration form */

.container1 {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right:auto ;
  margin-top:0;
  align-content: center;
  width: 700px;
  border: 1px solid black;
}
@media screen and (min-width: 500px){
  .container1{
    width: 100%;  
    width: 400px;
      
  }
}
