* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
}

.wrapper{
  margin-top: 10px;
  display: grid;
    grid-gap: 10px;
		grid-template-columns: 50%;
    background-color: #fff;
		color: #444;
}
.a{
  grid-column: 1 / 2;
		grid-row: 1;
}
.b{
  grid-column: 2 ;
  grid-row: 1;
}
.c{
  grid-column: 1 / 2;
  grid-row: 2;
}
.d{
  grid-column: 2;
  grid-row: 2;
}
.container1{
    align-content: center;
    font-size: 1.2em;
    color: black;
    height: auto;
    margin: 10px;
    display: fixed;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}
.container1 p{
  text-align: center;
  margin: 40px;
  font-size: 1.6em
}
.container2{
  position: relative;
  text-align: center;
  color: #fff;
  z-index: -1;
}

.h2{
    text-align: center;
    margin: 3em;
    font-size: 2.5em;
}
.img-back{
  display: none;
  opacity: 0.9;
}
@media only screen and (min-width: 300px) {
  .img-back {
    display: block;
    width: 100%;
  }
  .divcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: black;
    background-color: #fff;
    padding: 20px;
    border: 0.5px solid grey;
    border-radius: 15px 15px 15px 15px;
  }

}
.img-barn{
  width: 100%;
}
#navbar {
  overflow: hidden;
  background-color: white;
}

#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
  font-size: 28px;
  font-family: "Helvetica Neue";
}


#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar .logo-nav:hover{
  background-color: #ddd;
  color: black;
    
}

#navbar a.active {
  background-color: gray;
  color: white;
}


#logo-nav{
  max-width: 200px;
  max-height: 27px;

}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

