*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.nav-bar{
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6));
  position: fixed;
  display: flex;
  padding: 20px 20px;
  width: 100%;
  z-index: 1;
}
.nav-logo h1{
  color: #fff;
}

.nav-logo {
  padding-left: 100px;
}

.nav-links{
  flex: 1;
}
.nav-links h1{
  float: left;
  color: #fff;
}
.nav-links ul{
  margin-left: 50px;
  display: inline;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 25px;

}
.nav-links ul a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-logo h1::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #00bcd4;
  display: block;
  margin: auto;
  transition: .5s;
}
.nav-logo h1:hover::after{
  width: 100%;
}
.nav-links ul li::after{
  content: '';
  width: 0;
  height: 2px;
  background: #00bcd4;
  display: block;
  margin: auto;
  transition: .5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}

.btn{
  padding: 10px 20px;
  border: 0;
  background: #00bcd4;
  font-weight: bold;
  cursor: pointer;
  color: black;
  border-radius: 5px 5px 5px 5px;
  margin-right: 100px;
}

.btn:hover{
  background-color: white;
  transition:all 0.5s ease-in;
}


.nav-links .btn{
  float: right;
}

.nav-bar .fa{
  display: none;
  position: fixed;
}


@media (max-width: 970px){

  .nav-bar{
    padding: 20px 20px;
    position: center;
  }
  .fa-bars{
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .nav-bar .fa{
    display: block;
    color: #fff;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links{
    height: 100vh;
    width: 200px;
    background-color: black;
    top: 0;
    right: -200px;
    position: fixed;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  .nav-logo{
    padding-left: 25px;
  }
  .nav-links ul a{
    display: block;
    padding-top: 25px;
  }
  .nav-links .btn{
    float: left;
    font-size: 0.9em;
    display: flex;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 5px 5px 5px 5px;
  }
  .btn{
    padding: 10px;
  }
  .about{
    text-align: center;
    max-width: 100%;
    padding: 0;
    margin-left: 0;

  }
  .about .mission{
    max-width: 100%;
    text-align: center;
    margin-left: 0;
    padding-top: 10%;
  }
}

@media (max-width: 770px){
  .about .mission h1{
    font-size: 3em;
    margin-top: 3%;

  }
}
.box1{
  height: 50vh;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(miljø.jpeg);
  background-position: center;
  position: relative;
}
.about{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
  text-align: left;

}
.about .mission{
  margin-top: 5%;
  margin-left: 5%;
  max-width: 40%;
  padding-top: 6%;
  padding-left: 3%;
  text-align: left;
  display: block;
  color: white;
}
.about .mission h1{
  font-size: 4em;
  margin-top: 2%;

}
.about .mission h3{
  margin-top: 2%;
  color: gray;
}


@media (max-width: 991px) {
  .about{
    text-align: center;
    max-width: 100%;
    padding: 50px;
    margin-left: 0%;

  }
  .about .mission{
    max-width: 100%;
    text-align: center;
    margin-left: 0%;
    padding: 2%;
    margin-top: 15%;
  }
  .box1{
    height: 60vh;
  }
  .container .contactInfo{
    width: 100%;
  }
}

@media (max-width: 650px){
  .banner-title{
    margin: 80px 50px;
  }
  .banner-title h1{
    font-size: 40px;
  }

}

.containeren{
  margin: 20px;
}
.rowen{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.images img{
  opacity: 0.2;
  background: linear-gradient(rgba(0,0,0,1.4),rgba(0,0,0,0.9));
  position: relative;
  vertical-align: top;
  transition: 0.5s;
  transition-property: opacity;
}

.images{
  position: relative;
  flex: 1;
  max-width: 420px;
  height: 300px;
  margin: 20px;
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
  background: linear-gradient(rgba(0,0,0,1.8),rgba(0,0,0,0.9));
}

.images img{
  opacity: 0.2;
  background: linear-gradient(rgba(0,0,0,1.4),rgba(0,0,0,0.0));
  position: relative;
  vertical-align: top;
  transition: 0.5s;
  transition-property: opacity;
}

.images:hover img{
  opacity: 0.4;
  background: linear-gradient(rgba(0,0,0,2.5),rgba(0,0,0,1.0));

}

.images .detaljer h2{
  text-align: center;
  font-size: 2.1em;
  font-weight: 250;
  margin-top: 60px;
  transition: 0.5s;
  transition-property: transform;
}

.images .detaljer{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  width: 100%;
  height: 100%;
}

.images .detaljer h2 a{
  font-weight: 700;
}

.images:hover .detaljer h2{
  transform: translateY(-20px);
}

.images:hover .detaljer p{
  opacity: 1;
  transform: translateY(-20px);
}

.images .detaljer p{
  margin: 20px 20px 0 20px;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
  transition-property: transform, opacity;
}


.mer .les-mer a{
  font-weight: 700;
}

.mer{
  position: absolute;
  background: #00bcd4;
  display: flex;
  align-items: center;
  padding: 10px;
  left: -200px;
  margin-top: 50px;
  transition: 0.5s;
  transition-property: left;
  align-content: center;
  border-radius: 5px 5px 5px 5px;
}

.images:hover .mer{
  left: 40px;
  margin-top: 50px;
}


.mer .les-mer{
  color: black;
  font-size: 1.3em;
}

/*SECTION 2*/

#section2{
  height: auto;
  background-color: white;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  
}

.container{
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 30px;
  padding-left: 8%;
  
}
.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
  float: left;
  padding-top: 5%;
}
.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
  text-align: left;
  

}
.container .contactInfo .box .text h3{
  font-weight: 500;
  color: black;
}

.imgSec2{
  width: 40%;
  padding-top: 3%;
  padding-left: 10%;
  margin-bottom: 5%;
}
/*responsive css*/
@media (max-width: 1000px){
  .images{
    flex: 100%;
    max-width: 500px;
  }
}

@media (min-width: 700px) {
  .mer{
    margin-top: 4px;
  }
  .images:hover .mer{
    left: 40px;
    margin-top: 4px;
  }
}

