*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.nav-bar{
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6));
  position: fixed;
  display: flex;
  padding: 20px 20px;
  width: 100%;
  z-index: 1;

}
.nav-logo h1{
  color: #fff;
}

.nav-logo {
  padding-left: 100px;
}

.nav-links{
  flex: 1;
}
.nav-links h1{
  float: left;
  color: #fff;
}
.nav-links ul{
  margin-left: 50px;
  display: inline;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 25px;

}
.nav-links ul a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-logo h1::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #00bcd4;
  display: block;
  margin: auto;
  transition: .5s;
}
.nav-logo h1:hover::after{
  width: 100%;
}
.nav-links ul li::after{
  content: '';
  width: 0;
  height: 2px;
  background: #00bcd4;
  display: block;
  margin: auto;
  transition: .5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}

.btn{
  padding: 10px 20px;
  border: 0;
  background: #00bcd4;
  font-weight: bold;
  cursor: pointer;
  color: black;
  border-radius: 5px 5px 5px 5px;
  margin-right: 100px;
}

.btn:hover{
  background-color: white;
  transition:all 0.5s ease-in;
}


.nav-links .btn{
  float: right;
}

.nav-bar .fa{
  display: none;
  position: fixed;
}


@media (max-width: 970px){
  .nav-bar{
    /*padding: 20px 20px;*/
    position: center;
  }
  .fa-bars{
    position: absolute;
    right: 20px;
    top: 15px;
  }

  .nav-bar .fa-bars{
    display: block;
    color: #fff;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
  }
  .nav-bar .fa-close{
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
    color: #fff;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
  }
  .nav-bar .fa:hover{
    transition: all 0.5s;
    background-color: #00bcd4;
  }

  .nav-links{
    height: auto;
    width: 100%;
    background-color: black;
    top: -500px;
    left: 0;
    /*right: -200px;*/
    position: fixed;
    text-align: center;
    z-index: 2;
    transition: 0.7s;
  }
  .nav-logo{
    padding-left: 25px;
  }
  .nav-links ul a{
    display: block;
    padding-top: 25px;
  }
  .nav-links .btn {
    float: none;
    font-size: 0.9em;
    border-radius: 0;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: auto;
  }
  .about{
    text-align: center;
    max-width: 100%;
    padding: 0;
    margin-left: 0;


  }
  .about .mission{
    max-width: 100%;
    text-align: center;
    margin-left: 0;
    padding-top: 10%;
  }
  .about .mission h1{
    margin-top: 20%;
  }

}

@media (max-width: 770px){
  .about .mission h1{
    font-size: 3em;
    margin-top: 10%;

  }
  .about{
    height: auto;
    text-align: center;
    max-width: 100%;
    padding: 0;
    margin-left: 0;

  }

}
.box1{
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(plast.jpeg);
  background-position: center;
  position: relative;
}
.about{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
  text-align: left;

}
.about .mission{
  margin-top: 5%;
  margin-left: 5%;
  max-width: 40%;
  padding-top: 6%;
  padding-left: 3%;
  text-align: left;
  display: block;
  color: white;
  margin-bottom: 10%;
}
.about .mission h1{
  font-size: 4em;
  margin-top: 10%;

}

.containeren{
  padding: 50px;
  margin-left: 0px;

}
.container .contactInfo{
  width: 100%;

}

.container .contactInfo .box .text .source{
  align-content: center;
  width: 100%;
  padding: 3%;

}
.container .contactInfo .box .text .source .source-innhold{
  width: auto;
}
.container .contactInfo .box .text .source .source-img{
  margin-left: 5%;
}
.container .contactInfo .box .text .source .img{
  height: 100px;
}


@media (max-width: 991px) {
  .about{
    text-align: center;
    max-width: 100%;
    padding: 50px;
    margin-left: 0%;

  }
  .about .mission{
    max-width: 100%;
    text-align: center;
    margin-left: 0%;
    padding: 1%;
    margin-top: 10%;
  }

  .container .contactInfo{
    width: 100%;
  }
  .containeren{
    padding: 50px;
    padding-left: 0%;
  }

  .container .contactInfo .box .text .source{
    align-content: center;
    width: 100%;
    padding: 3%;

  }
  .container .contactInfo .box .text .source .source-innhold{
    width: auto;
  }
  .container .contactInfo .box .text .source .source-img{
    margin-left: 5%;
  }
  .container .contactInfo .box .text .source .img{
    height: 100px;
  }
}

@media (max-width: 650px){
  .banner-title{
    margin: 80px 50px;
  }
  .banner-title h1{
    font-size: 40px;
  }
  .container .contactInfo{
    width: 100%;
  }
}
.about{
  text-align: center;
  max-width: 100%;
  padding: 0;
  margin-left: 0;

}

/*SECTIOM-MEMBERS*/
.section-members{
  height: auto;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: rgba(139, 136, 136, 0.527);
  padding: 2.1%;
  margin-top: 5%;
  justify-content: left;
}
.section-members .members h3{
  font-weight: 400;
  color: black;
}
.section-members .members .members-text{
  color: rgba(0, 0, 0, 0.726);
  flex-direction: column;
  font-weight: 300;
  padding-left: 4%;
}
/*SECTION 1*/

#section1{
  height: auto;
  background-color: white;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;


}
.container{
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 1%;
  padding-left: 8%;
  margin-bottom: 5%;
}


.container .contactInfo{
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.container .contactInfo .box .text{
  display: flex;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.726);
  flex-direction: column;
  font-weight: 300;
  text-align: left;
  width: 79.5%;

}
.container .contactInfo .box .text .source{
  background-color: #00bbd45d;
}
.container .contactInfo .box .text .source .source-innhold{
  padding: 5%;
  float: left;

}
.container .contactInfo .box .text .source .source-title{
  padding-left: 5%;
  padding-right: 5%;


}
.container .contactInfo .box .text .source a {
  text-decoration: none;
  color: gray;
}

.container .contactInfo .box .text .source a:hover{
  color: white;
}
.container .contactInfo .box .text .source .source-img{
  float: left;
  margin-top: 3%;
  margin-left: 25%;
}
.container .contactInfo .box .text .source .img{
  height: 100px;
}
.container .contactInfo .box .text h3{
  font-weight: 500;
  color: black;
  margin-bottom: 1%;


}
.bold-text{
  color: rgba(17, 54, 109, 0.863);
  font-weight: bold;
}



/*responsive css*/
@media (max-width: 1000px){
  .about{
    text-align: center;
    max-width: 100%;
    padding: 0;
    margin-left: 0;

  }

  .containeren{
    padding: 50px;
    margin-left: 0px;
  }
  .container .contactInfo{
    width: 100%;

  }

  .container .contactInfo .box .text .source{
    width: 100%;
    padding: 3%;

  }
  .container .contactInfo .box .text .source .source-innhold{
    width: 100%;
  }

  .container .contactInfo .box .text .source .source-img{
    margin-left: 5%;
  }


}

@media (min-width: 700px) {
  .about{
    text-align: center;
    max-width: 100%;
    padding: 0;
    margin-left: 0;

  }
  .containeren{
    padding: 50px;
    margin-left: 0px;
  }
  .container .contactInfo{
    width: 100%;

  }
  .container .contactInfo .box .text .source{
    width: 100%;
    padding: 3%;

  }
  .container .contactInfo .box .text .source .source-innhold{
    width: auto;
  }

  .container .contactInfo .box .text .source .img{
    height: 200px;
  }

}

footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  background-color: black;
  color: white;
}

.footeren > *{
  flex: 1 100%;
}

.venste-footer{
  margin-right: 1.25em;
  margin-bottom: 2em;
}



.footeren ul{
  list-style: none;
  padding-left: 0;
 }

 .footeren li{
   line-height: 2em;
 }

 .footeren a{
   text-decoration: none;
   color: white;
 }

 .høyre-footer{
   flex-flow: row wrap;
   display: -webkit-flex;

   display: flex;
 }



 .høyre-footer > *{
   flex: 1 51%;
   margin-right: 1.24em;
 }

 .box-footer a{
   color: gray;
 }

 .bunn-footer{
   text-align: center;
   color: gray;
   padding-top: 51px;
 }

 .venste-footer p{
   padding-top: 11px;
   padding-right: 21%;
   color: gray;
 }

 .sosiale a{
   width: 40%;
   height: 40%;
   display: inline;
   margin-right: 11px;
 }

 .sosiale a img{
   padding-top: 21px;
   width: 9%;
   padding-right: 5%;
   border-radius: 5px 5px 5px 5px;
 }

 @media screen and (min-width: 900px) {
   .høyre-footer > *{
     flex: 1;
   }
   .venste-footer{
     flex: 1 0;
   }
   .høyre-footer{
     flex: 2 0;
   }
 }

@media screen and (max-width: 900px){
  .venste-footer{
    text-align: center;
  }

  .sosiale a img{
    width: 10%;
    margin-left: 30px;
    margin-top: 40px;
  }
  .høyre-footer{
    text-align: center;
    padding-top: 20px;
  }

  .footeren h2{
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .sosiale a img{
    width: 8%;
    margin-left: 10px;
  }
}

@media screen and (max-width: 550px){
  .sosiale a img{
    padding: 5px;
    margin-left: 20px;
  }
}
.all{
  overflow: hidden;
}
