*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.hero{
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(plast.jpeg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}
.nav-bar{
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6));
  position: fixed;
  display: flex;
  padding: 20px 20px;
  width: 100%;
}
.nav-logo h1{
  color: #fff;
}

.nav-logo {
  padding-left: 100px;
}

.nav-links{
  flex: 1;
}
.nav-links h1{
  float: left;
  color: #fff;
}
.nav-links ul{
  margin-left: 50px;
  display: inline;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 25px;

}
.nav-links ul a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-logo h1::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #00bcd4;
  display: block;
  margin: auto;
  transition: .5s;
}
.nav-logo h1:hover::after{
  width: 100%;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #00bcd4;
  display: block;
  margin: auto;
  transition: .5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}

.wrapper{
  width: 100%;
}
.img-info{
  width: 100%;
}
.img-info h2 {
  padding: 30px 30px 20px;
  font-size: 50px;
  color:black;
  line-height: 44px;
}

.img-info p {
  padding: 0px 30px 20px;
  font-size: 16px;
  color:black;
  line-height: 24px;
}

.img-info2 {
  width: 100%;
}

.img-info2 h2 {
  padding: 30px 30px 20px;
  font-size: 50px;
  color: black;
  line-height: 44px;
  text-align: center;
}

.img-info2 p {
  padding: 0px 30px 20px;
  font-size: 16px;
  color: black;
  line-height: 24px;
  text-align: center;
}
.img-Collect{
  width: 100%;
}
.img-utehus{
  width: 100%;
}
.btn{
  padding: 10px 20px;
  border: 0;
  background: #00bcd4;
  font-weight: bold;
  cursor: pointer;
  color: black;
  border-radius: 5px 5px 5px 5px;
  margin-right: 100px;
}

.btn:hover{
  background-color: white;
  transition:all 0.5s ease-in;
}


.nav-links .btn{
  float: right;
}

.banner-title{
  margin: 200px 130px;
  color: #fff;
}
.banner-title h1{
  font-size: 64px;
  margin-bottom: 30px;
}
.banner-title h1 span{
  color: #00bcd4;
}

<!--.vertical-bar{
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  position: absolute;
}

.nav-bar .fa{
  display: none;
  position: fixed;
}

.mail{
    text-decoration: none;
    color: white;
}
.mail a.hoover{
    color: gray;
}
@media only screen and (min-width: 768px){
  .Arrow-down .Arrow-downWhite{
    margin-top: 200px;

  }

  .wrapper {
    width: 600px;
    margin: 0 auto;
  }

  .img-info h2 {
    padding: 20px 0px 0px;
  }

  .img-info p {
    padding: 20px 0px 0px;
  }

  .img-info2 h2 {
    padding: 20px 0px 0px;
  }

  .img-info2 p {
    padding: 20px 0px 0px;
  }

  .img-Collect {
    padding-top: 30px;
  }

  .img-utehus {
    padding-top: 30px;
  }

}


@media (max-width: 970px){
  .Arrow-down .Arrow-downWhite{
    margin-top: 200px;
  }

  .vertical-bar{
    display: none;
  }
  .banner-title{
    margin: 80px 40px;
  }
  .banner-title h1{
    font-size: 50px;
  }
  .banner-title2{
    margin: 80px 40px;
  }
  .banner-title2 h1{
    font-size: 50px;
  }
  .nav-bar{
    padding: 20px 20px;
    position: center;
  }
  .fa-bars{
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .nav-bar .fa{
    display: block;
    color: #fff;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links{
    height: 100vh;
    width: 200px;
    background-color: black;
    top: 0;
    right: -200px;
    position: fixed;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  .nav-logo{
    padding-left: 25px;
  }
  .nav-links ul a{
    display: block;
    padding-top: 25px;
  }
  .nav-links .btn{
    float: left;
    font-size: 0.9em;
    display: flex;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 5px 5px 5px 5px;
  }
  .btn{
    padding: 10px;
  }
}
@media (max-width: 650px){
  .Arrow-down .Arrow-downWhite{
    margin-top: 200px;
    width: 10%;
  }

  .banner-title{
    margin: 80px 50px;
  }
  .banner-title h1{
    font-size: 40px;
  }

}

.linky{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: whitesmoke;
}

.linky a {
  color: grey;
  text-decoration: none;
  text-transform: initial;
}

.linky a:hover {
  color: #00bcd4;
  text-decoration: underline;
}

.linky a:active {
  color: black;
}

.linky a:visited {
  color: black;
}
.Arrow-down .Arrow-downWhite{
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 40px;
}

.Arrow-down .Arrow-downWhite:hover{
  border: none;
  background-color: #00bcd4;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 0.5s ease;

}
@media (min-width: 970px){
  .Arrow-down .Arrow-downWhite{
    width: 8%;
  }
}
