*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.hero{
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(flask.jpeg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}
.nav-bar{
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6));
  position: fixed;
  display: flex;
  padding: 20px 20px;
  width: 100%;
  z-index: 2;
}
.nav-logo h1{
  color: #fff;
}

.nav-logo {
  padding-left: 100px;
}

.nav-links{
  flex: 1;
}
.nav-links h1{
  float: left;
  color: #fff;
}
.nav-links ul{
  margin-left: 50px;
  display: inline;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 25px;

}
.nav-links ul a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-logo h1::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #00bcd4;
  display: block;
  margin: auto;
  transition: .5s;
}
.nav-logo h1:hover::after{
  width: 100%;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #00bcd4;
  display: block;
  margin: auto;
  transition: .5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}

.wrapper{
  width: 100%;
}
.img-info{
  width: 100%;
}
.img-info h2 {
  padding: 30px 30px 20px;
  font-size: 50px;
  color:black;
  line-height: 44px;
}

.img-info p {
  padding: 0px 30px 20px;
  font-size: 16px;
  color:black;
  line-height: 24px;
}

.img-info2 {
  width: 100%;
}

.img-info2 h2 {
  padding: 30px 30px 20px;
  font-size: 50px;
  color: black;
  line-height: 44px;
}

.img-info2 p {
  padding: 0px 30px 20px;
  font-size: 16px;
  color: black;
  line-height: 24px;
}
.img-Collect{
  width: 100%;
}
.img-utehus{
  width: 100%;

}

.btn{
  padding: 10px 20px;
  border: 0;
  background: #00bcd4;
  font-weight: bold;
  cursor: pointer;
  color: black;
  border-radius: 5px 5px 5px 5px;
  margin-right: 100px;
}

.btn:hover{
  background-color: white;
  transition:all 0.5s ease-in;
}


.nav-links .btn{
  float: right;
}

.banner-title{
  margin: 200px 130px;
  color: #fff;
}
.banner-title h1{
  font-size: 64px;
  margin-bottom: 30px;
}
.banner-title h1 span{
  color: #00bcd4;
}

<!--.vertical-bar{
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  position: absolute;
}

.nav-bar .fa{
  display: none;
  position: fixed;
}

.moreBtn{
  padding: 10px 18px;
  border: 0;
  background: #00bcd4;
  font-weight: bold;
  cursor: pointer;
  color: black;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  margin-left: 6%;
}

.moreBtn:hover{
  background-color: rgba(128, 128, 128, 0.575);
  transition:all 0.5s ease-in;
}
.btnUN{
  padding: 10px 18px;
  border: 0;
  background: #00bcd4;
  font-weight: bold;
  cursor: pointer;
  color: black;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  margin-left: 6%;
}

.btnUN:hover{
  background-color: rgba(128, 128, 128, 0.575);
  transition:all 0.5s ease-in;
}
#section4{
  height: 10vh;
  background-color: rgba(57, 187, 204, 0.842);
  background-position: center;
  background-size: cover;
  position: relative;

}


@media only screen and (min-width: 768px){
  .Arrow-down .Arrow-downWhite{
    margin-top: 200px;

  }

  .wrapper {
    width: 600px;
    margin: 0 auto;
  }

  .img-info h2 {
    padding: 20px 0px 0px;
  }

  .img-info p {
    padding: 20px 0px 0px;
  }

  .img-info2 h2 {
    padding: 20px 0px 0px;
  }

  .img-info2 p {
    padding: 20px 0px 0px;

  }

  .img-Collect {
    padding-top: 30px;
  }

  .img-utehus {
    padding-top: 30px;
  }

}


@media (max-width: 970px){
  .Arrow-down .Arrow-downWhite{
    margin-top: 200px;
  }

  .vertical-bar{
    display: none;
  }
  .banner-title{
    margin: 80px 40px;
  }
  .banner-title h1{
    font-size: 50px;
  }
  .banner-title2{
    margin: 80px 40px;
  }
  .banner-title2 h1{
    font-size: 50px;
  }
  .nav-bar{
    /*padding: 20px 20px;*/
    position: center;
  }
  .fa-bars{
    position: absolute;
    right: 20px;
    top: 15px;
  }

  .nav-bar .fa-bars{
    display: block;
    color: #fff;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
  }
  .nav-bar .fa-close{
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
    color: #fff;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
  }
  .nav-bar .fa:hover{
    transition: all 0.5s;
    background-color: #00bcd4;
  }

  .nav-links{
    height: auto;
    width: 100%;
    background-color: black;
    top: -500px;
    left: 0;
    /*right: -200px;*/
    position: fixed;
    text-align: center;
    z-index: 2;
    transition: 0.7s;
  }
  .nav-logo{
    padding-left: 25px;
  }
  .nav-links ul a{
    display: block;
    padding-top: 25px;
  }
  .nav-links .btn {
    float: none;
    font-size: 0.9em;
    border-radius: 0;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: auto;
  }
  .btn{
    padding: 10px;
  }
  .moreBtn{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 25%;
    margin-bottom: 15%;
  }
  .btnUN{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 25%;
  }

}

@media (max-width: 650px){
  .Arrow-down .Arrow-downWhite{
    margin-top: 200px;
    width: 10%;
  }

  .banner-title{
    margin: 80px 50px;
  }
  .banner-title h1{
    font-size: 40px;
  }

}

.linky{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: whitesmoke;
}

.linky a {
  color: grey;
  text-decoration: none;
  text-transform: initial;
}

.linky a:hover {
  color: #00bcd4;
  text-decoration: underline;
}

.linky a:active {
  color: black;
}

.linky a:visited {
  color: black;
}
.Arrow-down .Arrow-downWhite{
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 40px;
}

.Arrow-down .Arrow-downWhite:hover{
  border: none;
  background-color: #00bcd4;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 0.5s ease;

}
@media (min-width: 970px){
  .Arrow-down .Arrow-downWhite{
    width: 8%;
  }
}
  @media only screen and (min-width: 1000px){
    .wrapper{
      width: 1000px;
    }
    .img-info{
      padding-top: 100px;
      width: 50%;
      float: left;
    }
    .img-info h2 {
    padding: 20px 0px 0px 30px;
  }

  .img-info p {
    padding: 20px 0px 0px 30px;
  }
  .img-info2{
    padding-top: 100px;
    width: 47%;
    float: left;
  }
  .img-info2 h2 {
    padding: 50px 0px 0px 30px;
  }

  .img-info2 p {
    padding: 20px 0px 0px 30px;
  }
  .img-Collect {
    padding-top: 0px;
    width: 50%;
    float: right;
  }
  .img-utehus {
    padding-top: 100px;
    width: 37%;
    float: right;
    padding-right: 14%;
  }

}


footer{
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  background-color: black;
  color: white;
  margin-top: 500px;
}

.footeren > *{
  flex: 1 100%;
}

.venste-footer{
  margin-right: 1.25em;
  margin-bottom: 2em;
}



.footeren ul{
  list-style: none;
  padding-left: 0;
 }

 .footeren li{
   line-height: 2em;
 }

 .footeren a{
   text-decoration: none;
   color: white;
 }

 .høyre-footer{
   flex-flow: row wrap;
   display: -webkit-flex;

   display: flex;
 }



 .høyre-footer > *{
   flex: 1 51%;
   margin-right: 1.24em;
 }

 .box-footer a{
   color: gray;
 }

 .bunn-footer{
   text-align: center;
   color: gray;
   padding-top: 51px;
 }

 .venste-footer p{
   padding-top: 11px;
   padding-right: 21%;
   color: gray;
 }

 .sosiale a{
   width: 40%;
   height: 40%;
   display: inline;
   margin-right: 11px;
 }

 .sosiale a img{
   padding-top: 21px;
   width: 10%;
   padding-right: 5%;
   border-radius: 5px 5px 5px 5px;
 }



 @media screen and (min-width: 900px) {
   .høyre-footer > *{
     flex: 1;
   }
   .venste-footer{
     flex: 1 0;
   }
   .høyre-footer{
     flex: 2 0;
   }
 }

@media screen and (max-width: 900px){
  .venste-footer{
    text-align: center;
  }

  .sosiale a img{
    width: 10%;
    margin-left: 30px;
    margin-top: 40px;
  }
  .høyre-footer{
    text-align: center;
    padding-top: 20px;
  }

  .footeren h2{
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .sosiale a img{
    width: 9%;
    margin-left: 10px;
  }
}

@media screen and (max-width: 550px){
  .sosiale a img{
    padding: 5px;
    margin-left: 20px;
  }
}
